@import "~styles/partials/variables";
@import "~styles/partials/mixins";

.root {
  display: table;
  width: 100%;
  position: relative;
  background-image: $bg-gradient-0;
  background-position: right bottom;
}

.row {
  margin: 30px 56px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  @include xs-only {
    margin: 30px 20px;
  }
}

.heading {
  flex: 0 0 auto;
  position: relative;
}

.title {
  position: relative;
}

.brand {
  font-size: 48px;
}

.subtitle {
  @include position(absolute, -10px, auto, auto, 100%);
  white-space: nowrap;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.5px;
  color: $color-white;
  text-shadow: $text-shadow-title;
}

.items {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  padding: 0;
  list-style: none;
  justify-content: center;
  font-size: 18px;
  line-height: 48px;
}

.itemsItem {
  flex: 0 0 auto;
}

.itemsLink {
  padding: 10px 20px;
  text-decoration: none;
  color: $color-white;

  &:hover {
    text-decoration: underline;
  }
}

.actions {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 48px;
}

.actionsItem {
  flex: 0 0 auto;
}

.actionsLink {
  padding: 10px 20px;
  text-decoration: none;
  color: $color-white;

  &:hover {
    text-decoration: underline;
  }
}

.locale {
  vertical-align: middle;
  margin: -5px 0px 0px 0px;
}

@include lg-only {
  margin: 30px 30px;
}

@include md-only {
  .items {
    display: none;
  }
  .actions {
    flex: 1 1 auto;
  }
}

.when-open {
  height: 200px;
}

.toggle {
  @include position(absolute, auto, 20px, 0px, auto);
  transform: translateY(50%);
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 40px;
  background-image: $bg-gradient-0;
  background-size: 2560px 512px;
  background-position: right bottom;
  z-index: 300;

  // Should be in sync with InfoPartial
  @media only screen and (max-width: 1064px) {
    display: none;
  }
}
