.wrapper {
  position: relative;
  padding-right: 25px;
  margin-top: 12px;
}

.hide {
  display: none;
}

.iconWrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.icon {
  margin-left:-35px;
  position: absolute;
}

.spinner {
  display: inline-block;
  margin-top: 10px;
}