@import "../../../~styles/partials/variables";

.default {
  color: $color-primary-0;
  font-size: 24px;
}

.defaultInvert {
  color: $color-white;
  font-size: 24px;
}

.integral {
  font-weight: 300;
  line-height: 1.2916666em; // 31/24
  vertical-align: baseline;
}

.fraction {
  font-size: 0.666666667em; //16/24
  vertical-align: baseline;
  font-weight: 400;
  opacity: 0.5;
}
