//noinspection CssUnknownTarget
@import "~styles/partials/variables";
//noinspection CssUnknownTarget
@import "~styles/partials/mixins";

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  > * {
    flex: 0 0 auto;
  }
}

.col {
  background-color: black;
  height: 100px;
}

.root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.content {
  position: relative;
  margin: 50px 80px;

  @include md-only {
    margin: 30px 25px;
  }

  :global {
    .WalletContent__grid {
      @include grid(6, 64px, 40px);
    }
  }
}

.headLight {
  :global {
    .ColoredSection__head {
      background-color: $color-panel-bg-1;
    }
  }
}

.headDark {
  :global {
    .ColoredSection__head {
      background-color: $color-panel-bg-2;
    }
  }
}

.instructions {
  color: $color-primary-0;
  padding: 0 16px;
  margin-bottom: 32px;

  h3 {
    font-size: 24px;
    font-weight: bold;
    display: block;
    padding: 0;
    margin-bottom: 24px;
  }
}

.instructionsDescription {
  opacity: 0.6;
  font-size: 18px;
}

.spacer {
  height: 40px
}
