//noinspection CssUnknownTarget
@import "~styles/partials/variables";
//noinspection CssUnknownTarget
@import "~styles/partials/mixins";

.root {
  flex: 0 0 auto;
  position: relative;

  :global {
    .grid {
      @include grid(6, 65px, 65px)
    }
  }
}

.inner {
  margin: 30px 80px;
  position: relative;
}

.headLight {
  :global {
    .ColoredSection__head {
      background-color: $color-panel-bg-1;
    }
  }
}

.headDark {
  :global {
    .ColoredSection__head {
      background-color: $color-panel-bg-2;
    }
  }
}
