@import "~styles/partials/variables";
@import "~styles/partials/mixins";

.root {
  margin: -80px 10px 0px 10px;
  height: 260px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  width: 280px;
}

.gallery {
  position: relative;
  display: flex;
  flex-grow: 1;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.arrow {
  z-index: 200;

  &.arrowLeft {
    @include position(absolute, -60px, 50%, auto, auto);
  }
  &.arrowRight {
    @include position(absolute, -60px, auto, auto, 50%);
  }
}

.arrowAction {
  display: block;
  margin: 16px 4px 4px 4px;
  padding: 4px;
  height: 40px;
  color: $color-white;
  text-decoration: none;
  opacity: 0.6;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;

  :global(.material-icons) {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
  }

  &:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
  }
}

@media only screen and (min-width: 690px) {
  display: flex;

  .arrow {
    &.arrowLeft,
    &.arrowRight {
      flex: 0 0 auto;
      @include position(relative, auto, auto, auto, auto);
    }
  }

  .wrapper {
    flex: 0 0 auto;
    margin: 0;
    position: relative;
    width: 560px;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 840px;
  }
}

@media only screen and (min-width: 1344px) {
  .wrapper {
    width: 1120px;
  }
}

@media only screen and (min-width: 1624px) {
  .wrapper {
    width: 1400px;
  }
}

.outer {
  flex: 0 0 auto;
  margin: 12px 12px;
  min-width: 256px;
  cursor: pointer;
  position: relative;
}

.selected {
  &::before {
    content: '';
    background-image: url('assets/img/checkbox-marked-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
}

.innerAction {
  position: relative;
  width: 256px;
  height: 246px;
  background-color: $color-panel-bg-5;
  padding: 16px;
  display: table;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.actionIcon {
  @include position(absolute, 20px, 20px, 20px, 20px);
  background: transparent url('assets/img/icn-add-token.svg') no-repeat center center;
  background-size: 160px 160px;
}

.actionTitle {
  position: relative;
  display: table-cell;
  vertical-align: middle;

  h3 {
    margin: 0;
    padding: 0;
    width: 150px;
    font-size: 40px;
    font-weight: 500;
    color: $color-white;
    text-shadow: $text-shadow-title;
  }
}

.inner {
  box-sizing: border-box;
  position: relative;
  height: 246px;
  color: $color-primary-0;
  border-radius: 2px;
  overflow: hidden;
}

.innerTitle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  max-width: 150px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}

.innerIcon {
  position: relative;
  display: table;
  width: 100%;
  background-color: #05326a;
}

.content {
  position: relative;
  min-width: 216px;
  height: 128px;
  margin: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  @include md-only {
    margin: 20px auto;
  }
}

.innerIconLabel {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 40px;
  font-weight: 500;
  color: $color-white;
}

.info {
  padding: 16px;
}

.infoLabel {
  opacity: 0.6;
}

.addTokenFAB {
  margin-left: 16px;

  @include sm-only {
    position: absolute;
    right: 16px;
  }
}
