@import "~styles/partials/variables";

.root {
  min-width: 256px;
  margin: 12px 12px;
  border-radius: 2px;
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 168px;
  background-color: $color-grey500;
}

.icon {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: $color-grey300;
}

.name {
  position: absolute;
  width: 90px;
  height: 38px;
  bottom: 24px;
  left: 16px;
  background-color: $color-grey400;
}

.balance {
  min-height: 78px;
  background-color: $color-white;
  padding: 16px;
}

.amount {
  width: 120px;
  height: 16px;
  background-color: $color-grey300;
  margin-bottom: 10px;

  &:last-child {
    width: 80px;
    margin-bottom: 0;
  }
}
