{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "syntax-decorators",
    "syntax-trailing-function-commas",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-react-constant-elements",
    "transform-runtime"
  ]
}
