node_modules/**
build/**
config/**
mocks/**
nodes/**
scripts/**
src/**
packages/core-dependencies/**
packages/login/**
packages/login-ui/**
**/node_modules/**
.tmp/**
*.json
*.md
*.less
*.scss
*.svg
git
**/*.spec.js



!packages/core/*
