.left-drawer {
  &-menu {
    &--item {
      span.material-icons {
        color: #424242 !important;
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.04) !important;
        color: #17579c !important;

        span.material-icons {
          color: #17579c !important;
        }
      }

      div > div > div {
        overflow: hidden;
        white-space: nowrap;
      }
    }

    padding-bottom: 160px !important; // We need this extra space for scrolling because of user info block
  }

  @media only screen and (min-width: 992px) {
    & > div:last-child:hover {
      width: 230px !important;
    }
  }
}