.slider.editable {
  margin-top: 20px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  height: 3.2rem;
  user-select: none;
}

.knob {
  position: relative;
  top: 0;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}


.progress {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.progress .innerprogress {
  position: absolute;
  top: 24px;
  height: 1px;
}
.linear {
  position: relative;
  display: inline-block;
  width: 100%;
  height: .4rem;
  overflow: hidden;
  background: #ccc;
}

.value {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.value {
  transform: scaleX(0.5);
  background-color: red;
}

.value {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.snaps {
  position: absolute;
  top: 1.5rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: .2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  pointer-events: none;
}

.snap {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.snaps:after {
  display: block;
  width: 1px;
  height: 1px;
  content: "";
  background-color: #000;
  border-radius: 50%;
}

.snap:after {
  display: block;
  width: 1px;
  height: 1px;
  content: "";
  background-color: #000;
  border-radius: 50%;
}



.slider.pressed.pinned .innerknob:before {
  -webkit-transform: rotate(-45deg) scale(.6) translate(1.7rem,-1.7rem);
  transform: rotate(-45deg) scale(.6) translate(1.7rem,-1.7rem);
}


.slider.pinned .innerknob:after, .slider.pinned .innerknob:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.6rem;
}

.slider.pinned .innerknob:before {
  width: 2.6rem;
  margin-left: .3rem;
  content: "";
  background-color: orange;
  border-radius: 50% 50% 50% 0;
  -webkit-transform: rotate(-45deg) scale(0) translate(0);
  transform: rotate(-45deg) scale(0) translate(0);
}






.slider.pressed.pinned .innerknob:after {
  -webkit-transform: scale(.6) translateY(-1.7rem);
  transform: scale(.6) translateY(-1.7rem);
}

.slider.pinned .innerknob:after {
  width: 3.2rem;
  font-size: 14px;
  color: #fff;
  text-align: center;
  content: attr(data-value);
  -webkit-transform: scale(0) translate(0);
  transform: scale(0) translate(0);
}


.slider.pinned .innerknob:after, .slider.pinned .innerknob:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.6rem;
  -webkit-transition: background-color .18s ease,-webkit-transform .2s ease;
  transition: transform .2s ease,background-color .18s ease,-webkit-transform .2s ease;
}





