@import "~styles/partials/mixins";
@import "~styles/partials/variables";

.root {

  .content {
    position: relative;
    display: table;
    width: 100%;
  }
  .background {

    @include position(absolute);
    display: flex;
    flex-direction: column;

    .background1 {
      position: relative;
      flex: 1 1 auto;
      background-image: $bg-gradient-0;
    }

    .actions {
      position: relative;
      flex: 0 0 0;
      overflow: visible;
      z-index: 100;

      .left {
        @include position(absolute, 0, auto, auto, 0);
        transform: translate(-50%, -50%);
      }

      .right {
        @include position(absolute, 0, 0, auto, auto);
        transform: translate(50%, -50%);
      }
    }

    .background2 {
      position: relative;
      flex: 1 1 auto;
      background-color: $color-panel-bg-0;
    }
  }

  .content {
    .head {

    }
    .body {

    }
    .foot {

    }
  }
}
