.root {
  flex: 0 0 auto;
  height: 700px;
  background-image: linear-gradient(253deg, #644ebf, #262448);
  box-sizing: border-box;

  .row {

    margin: 30px 80px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .title {
      flex: 0 0 auto;
      position: relative;
      .brand {
        font-size: 48px;
      }
    }

    .subtitle {
      flex: 0 0 auto;
      position: relative;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: -0.5px;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
      vertical-align: top;
      padding: 10px 0px;
    }

    ul.items {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      padding: 0;
      list-style: none;
      justify-content: center;
      font-size: 18px;
      line-height: 48px;

      li {

        flex: 0 0 auto;

        a {
          padding: 10px 20px;
          text-decoration: none;
          color: #FFFFFF;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    ul.actions {
      position: relative;
      display: flex;
      flex: 0 0 auto;
      padding: 0;
      list-style: none;
      font-size: 18px;
      line-height: 48px;

      li {

        flex: 0 0 auto;

        a {
          padding: 10px 20px;
          text-decoration: none;
          color: #FFFFFF;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
