.root {
  font-family: 'Proxima Nova';
  font-weight: 600;
  letter-spacing: -1.5px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);

  .title1 {
    color: #d9a162;
  }

  .title2 {
    color: #4b8fb9;
  }
}
