@import "~@/styles/partials/colors";
@import "~@/styles/partials/mixins";

.root {
  flex: 0 0 auto;
  position: relative;

  :global {
    .grid {
      @include grid(6, 65px, 65px)
    }
  }

  .inner {
    margin: 30px 80px;
    position: relative;

    .head-light {
      :global {
        .ColoredSection__head {
          background-color: #5c6bc0;
        }
      }
    }

    .head-dark {
      :global {
        .ColoredSection__head {
          background-color: #05326a;
        }
      }
    }
  }
}
