@import "~styles/partials/mixins";
@import "~styles/partials/variables";

.root {

  @include position(fixed, 0, auto, 0, 0);
  z-index: 200;

  .content {
    @include position(absolute, 0, auto, 0, 0);
    background-color: $color-white;
    box-shadow: $box-shadow-0;
    z-index: 2;

    .menu {
      display: block;
      text-align: center;
      width: 60px;
      margin-top: 9px;
    }

    .item {
      opacity: 0.6;
      white-space: nowrap;
      &:hover {
        opacity: 1;
      }
    }
  }

  .backdrop {
    @include position(absolute);
    display: none;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
  }

  &.opened {

    right: 0;

    .backdrop {
      display: block;
    }

    .content {
      width: auto;
    }
  }

  &.closed {
    .content {
      width: 60px;
      overflow: hidden;
    }

    @media only screen and (max-width: $media-size-md) {
      .content {
        width: 0px;
      }
    }
  }
}

:global {
  .drawer-item-active {
    color: $color-primary-0 !important;
  }
}
