@import "~styles/partials/variables";
@import "~styles/partials/mixins";

$default-padding: 8px 0px;

.root {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .menu {
    display: none;
    margin: 9px 6px;

    @include md-only {
      display: inline-block;
    }
  }

  .left {
    position: relative;
    flex: 0 0 auto;
    padding: $default-padding;
    vertical-align: middle;

    @include md-only {
      display: none;
    }

    .routes {
      display: inline-block;
      vertical-align: bottom;
      margin: 7px 10px 5px 10px;

      .route {
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .center {
    position: relative;
    flex: 1 1 auto;
    justify-content: flex-end;
    padding: $default-padding;

    @include md-only {
      display: none;
    }
  }

  .account {

    position: relative;
    padding: 10px 15px;
    overflow: hidden;
    margin-left: auto;

    .info {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
      text-align: left;
    }

    .extra {
      text-align: right;
      margin-top: 2px;
    }

    .highlight0 {
      @include highlight($color-primary-0);
      margin-right: 8px;
      border-radius: 9px;
      line-height: 20px;
      vertical-align: middle;
      margin-left: 8px;
    }

    .highlight1 {
      @include highlight($color-primary-1);
      line-height: 20px;
      vertical-align: middle;
      display: inline-block;
      font-size: 14px;
      margin-right: 8px;
      border-radius: 9px;
      width: 80px;
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .actions {
    position: relative;
    padding: $default-padding;
    flex: 0 0 auto;

    // @include md-only {
    //   display: none;
    // }

    .actions-entry {
      position: relative;
      border-radius: 50%;
      
      .entry-button {
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }

      .entry-overlay {
        @include position(absolute, 4px, 4px, 4px, 4px);
        .overlay-count {
          @include position(absolute, 0, 0, auto, auto);
          font-size: 10px;
          line-height: 14px;
          font-weight: bold;
          border-radius: 7px;
          padding: 0px 2px;
          color: #FFFFFF;
          background: $color-warning;
        }
      }

      &:hover {
        box-shadow: $box-shadow-0;
      }
    }
  }

  .right {
    position: relative;
    padding: 6px 16px;
    flex: 0 0 auto;

    .icon {
      position: relative;
      display: table;
      background-color: $color-panel-bg-0;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;

      > .content {
        width: 54px;
        height: 54px;
        background: transparent none no-repeat center center;
        background-size: cover;
      }

      &:hover {
        box-shadow: $box-shadow-0;
      }
    }
  }
}

.profile {
  padding: 16px;
  max-width: 450px;
  box-sizing: border-box;

  .profile-body {
    display: flex;
    flex-wrap: wrap;

    .body-avatar {
      flex: 0 0 auto;
      position: relative;
      margin-right: 32px;

      .icon {
        position: relative;
        display: table;
        background-color: $color-panel-bg-0;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 16px 0 0;

        > .content {
          width: 96px;
          height: 96px;
          background: transparent none no-repeat center center;
          background-size: cover;
        }
      }
    }

    .body-info {
      flex: 1 1 auto;

      .info-account {
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
      }

      .info-company {
        font-size: 14px;
        line-height: 16px;
      }

      .info-address {
        font-size: 14px;
        margin-top: 7px;
        color: $color-primary-1;
        width: 246px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .info-micros {
        margin-left: -4px;
      }

      .info-balances {

        margin: 10px 0 0 0;

        .balance {

          position: relative;
          display: table;
          width: 100%;
          width: 100%;
          margin: 0 0 5px 0;

          .balance-icon {

            display: table-cell;
            vertical-align: middle;
            width: 30px;

            .icon {
              position: relative;
              display: table;
              background-color: $color-primary-1;
              border-radius: 2px;
              overflow: hidden;
              margin: 0px 8px 0px 0px;

              > .content {
                width: 21px;
                height: 12px;
                margin: 2px;
                background: transparent none no-repeat center center;
                background-size: contain;
              }
            }
          }

          .balance-info {
            display: table-cell;
            vertical-align: middle;
            :global(.TokenValue__root) {
              font-size: 18px;
              line-height: 18px;
            }
          }
        }
      }
    }

    @include xs-only {
      .body-avatar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
      .body-info {
        width: 100%;
      }
    }
  }

  .profile-footer {
    margin-top: 16px;
    text-align: right;
  }
}

.badge-green {
  @include badge($color-white, $badge-green);
  border-radius: 2px;
  line-height: 20px;
  vertical-align: middle;
}
