@import "~styles/partials/variables";

$default-padding: 8px 0px;

.root {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .left {
    position: relative;
    flex: 0 0 auto;
    padding: $default-padding;
    vertical-align: middle;

    .routes {
      display: inline-block;
      vertical-align: bottom;
      margin: 5px 10px;

      .route {
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .center {
    position: relative;
    flex: 1 1 auto;
    justify-content: flex-end;
    padding: $default-padding;
  }

  .account {

    position: relative;
    padding: 10px 15px;
    flex: 0 0 auto;
    text-align: right;

    .info {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
      text-align: left;
    }

    .extra {

    }
  }

  .actions {
    position: relative;
    padding: $default-padding;
    flex: 0 0 auto;
  }

  .right {
    position: relative;
    padding: $default-padding;
    flex: 0 0 auto;
  }
}
