@import "~styles/partials/variables";
@import "~styles/partials/mixins";

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  >* {
    flex: 0 0 auto;
  }
}

.root {

  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  .content {

    position: relative;
    margin: 50px 80px;

    :global {

      .WalletContent__grid {
        @include grid(6, 64px, 40px);
      }
    }

    .head-light {
      :global {
        .ColoredSection__head {
          background-color: $color-panel-bg-1;
        }
      }
    }

    .head-dark {
      :global {
        .ColoredSection__head {
          background-color: $color-panel-bg-2;
        }
      }
    }

    .instructions {

      color: $color-primary-0;

      h3 {
        font-size: 24px;
        font-weight: bold;
        display: block;
        padding: 0px;
        margin-bottom: 24px;
      }

      .description {
        opacity: 0.6;
        font-size: 18px;
      }
    }
  }
}
