@import "~styles/partials/variables";
@import "~styles/partials/mixins";

.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #242045;
  height: 100%;
  width: 100%;
  .header-container {
    width: 587px;
    margin-bottom: 28px;
    margin-top: 28px;
    .header-text {
      color: white;
    }
    .wallet-list-container {
      display: flex;
      flex-direction: column;
    }
  }
}

