$gutter: 20px;

.root {
  margin-top: 20px;
}

.actions {
  display: flex;
  margin: 34px (-$gutter / 2) 0;
}

.actionBack,
.actionLogin {
  margin: 0 ($gutter / 2);
  width: 50%;
}

.tip {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-weight: 300;
}