@import "~styles/partials/mixins";
@import '~styles/partials/variables';

.content {
  max-width: 544px;
  background-color: $color-white;
  @include xs-only {
    width: 100vw;
  }

  :global {
    .AddTokenForm__grid {
      @include grid(12, 32px, 32px);
    }
  }
}

.dialogHeader {
  display: flex;
  position: relative;
  align-items: baseline;
  box-sizing: border-box;
  background: $color-primary-1;
  height: 180px;
  padding: 24px 16px;
  text-align: left;
  color: $color-white;
}

.dialogHeaderStuff {
  display: flex;
  flex-direction: row;
  height: 24px;
}

.dialogHeaderTitle {
  color: $color-white;
  min-width: 300px;
  font-size: 34px;
}

.tokenInfoRow {
  margin-top: 18px;
  margin-bottom: 24px;
  display: flex;
  .tokenIcon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 32px;
  }
  .info {
    flex: 1;
    min-width: 1px;
    .name {
      font-weight: 600;
      color: $color-primary-0;
    }
    .platform {
      .subTitle {
        opacity: 0.6;
        font-size: 14px;
        color: $color-primary-0;
      }
      .number {
        div {
          @include ellipsis;
          color: $color-primary-0;
        }
      }
    }
  }
}

.dialogBody {
  padding: 0 16px;
}

.dialogFooter {
  padding: 24px 16px;
  text-align: right;

  @include xs-only {
    display: flex;
    > div {
      margin: 0;
      width: 100%;
    }
  }
}

.action {
  margin: 0 0 0 10px;
}

.checkboxField {
  margin-top: 30px;
}

.hide {
  display: none;
}

.upload {
  cursor: pointer;
}

.uploadContent {

}

.tokenImg {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tokenImgWrap {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {

}

.progressText {
  margin-left: 10px;
}

.platformsList {
  max-height: 120px;
  overflow-y: auto;
}

.selectedPlatform {
  background-color: $color-primary-light;
}

.platformItem {
  cursor: pointer;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  color: $color-primary-0;
}

.icon {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  border-radius: 50%;
  text-align: center;

  :global(.material-icons) {
    margin: 4px;
    vertical-align: middle;
  }
}

.createNewPlatform {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  color: #2962ff;
  cursor: pointer;
  i {
    font-size: 34px;
  }
}

.addNewPlatformTitle {
  font-size: 12px;
  color: $color-primary-0;
}

.xs-hide {
  @include xs-only {
    display: none !important;
  }
}

.xs-show {
  display: none !important;
  @include xs-only {
    display: inline-block !important;
  }
}

.platformSelectorItem {
  @include ellipsis;
  img {
    width: 24px;
    margin-bottom: -4px;
    margin-right: 12px;
  }
}

.error {
  font-size: 12px;
  line-height: 12px;
  color: $color-error;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.layer {
  word-break: break-all;
  font-size: 16px;
  color: $color-primary-0;
}

.symbol {
  word-break: break-all;
  margin-left: 5px;
  opacity: 0.6;
  font-size: 12px;
  color: $color-primary-0;
}
