@import '~material-colors-scss/function';

$color-primary-0: #00005f;
$color-primary-1: #768fff;

$color-white: #FFFFFF;

$color-band-0: #d9a162;
$color-band-1: #4b8fb9;

$color-underline: #2962ff;

$text-shadow-title: 0 2px 2px rgba(0, 0, 0, 0.24);

$bg-gradient-0: linear-gradient(240deg, #644ebf, #262448);

$color-body-bg: #f7f9ff;
$color-panel-bg-0: #e9efff;
$color-panel-bg-1: #5c6bc0;
$color-panel-bg-2: #05326a;
$color-panel-bg-3: #41288d;
$color-panel-bg-4: rgba(41, 98, 255, 0.1);
$color-form-bg: rgba(255, 255, 255, 0.1);
$color-chart-bg: rgba(118, 143, 255, 0.5);
$color-hr: #CCCCDF;

$box-shadow-0: 0 4px 4px 0 rgba(0, 0, 0, .24), 0 0 4px 0 rgba(0, 0, 0, .12);
$box-shadow-1: 0 8px 8px 0 rgba(0, 0, 0, .24), 0 0 8px 0 rgba(0, 0, 0, .12);

$color-modal-backdrop-bg: rgba(0,0,0,0.2);

$media-size-md: 1280px;
$media-size-md: 1280px;

$badge-green: #{material-color('green', 'a400')};
$badge-orange: #{material-color('orange', 'a400')};
$badge-red: #{material-color('red', 'a400')};

$highlight-green: #{material-color('green', 'a400')};
