@import '~styles/partials/variables';

$gutter: 24px;

.root {
  min-width: 300px;
  max-width: 460px;
  background-color: $color-white;
}

.header {
  display: flex;
  align-items: center;
  background: $color-panel-bg-5;
  padding: 16px 54px 16px 16px;
}

.headerIcon {
  width: 24px;
  height: 24px;
}

.headerTitle {
  margin-left: 16px;
  color: $color-white;
  text-transform: uppercase;
}

// common

.body {
  //  for wrap blocks
}

.block {
  border-bottom: 1px solid $color-grey300;
  padding: 24px 16px;
  color: $color-black;

  &:last-child {
    border-bottom: none;
  }
}

.title {
  display: block;
  font-size: 24px;
  font-weight: $font-weight-bold;
}

.description {
  display: block;
  margin-top: 8px;
  margin-right: 56px;
  font-size: 16px;
  line-height: 1.2;
}

.row {
  display: flex;
  margin: 0 -$gutter/2;
}

.col {
  margin: 0 $gutter/2;
  flex-grow: 1;
}

// fields

.ownersList {
  margin-top: 48px;
}

.timeLock {
  margin-top: 8px;
}

.signaturesList {
  margin-top: 24px;
}

// actions

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 24px 16px;
}

.action {
  margin-left: 10px;
}

.hide {
  display: none;
}