@import '~styles/partials/variables';

.addOwner {
  display: flex;
  align-items: center;
}

.addOwnerField {
  flex-grow: 1;
}

.actions {
  display: flex;
  flex-grow: 0;
  margin-left: 16px;
}

.action {
  background-color: transparent;
  color: $color-secondary;

  &:disabled {
    color: $color-grey300;
  }
}

.buttonLabel {
  // hack for long multiline labels with icons
  display: flex;
  align-items: center;
}
