@import "~styles/partials/variables";

.root {
  background-color: $sideMenu-background;
}

.balances {
  text-shadow: $text-shadow-title;
}

.label {
  font-size: 12px;
  color: $color-white;
  line-height: 0.5em;
  margin-top: 14px;
}

.header {
  padding: 16px;
}

.title {
  font-size: 34px;
  font-weight: 300;
  color: $color-white;
}

.content {
  background: $color-white;
  padding: 16px;
  border-radius: 2px 2px 0 0;
}