@import '~styles/partials/variables';

.pencil {
  color: $color-primary-0;
  opacity: 0.6;
}

.trash {
  color: $color-primary-0;
  opacity: 0.6;
}

.owner {
  transition: opacity 0.5s linear;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding-left: 8px;
  margin-left: -8px;
  .ownerAddressControls {
    display: flex;
    width: 0;
    opacity: 0;
  }
  &:hover {
    background-color: $color-primary-light;
    .ownerAddressControls {
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      opacity: 1;
      transition: opacity 0.5s linear;
    }
  }
}

.error {
  height: 90px;
}

.addressInput {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
}

.hidden {
  display: none;
}

.ownerAddressWrapper {
  display: flex;
  flex: 10;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ownerAddress {
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: $color-primary-0;
}

.addressError {
  //color: $color-error;
  color: rgb(244, 67, 54);
}

.ownerIcon {
  cursor: default;
  color: $color-primary-1;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  opacity: 0.6;
  font-size: 32px;
  padding-right: 16px;
  :global(.material-icons) {
    font-size: 38px;
    margin-left: -3px
  }
}
