@import '~styles/partials/variables';

.header {
  background-color: $color-panel-bg-3;
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 44px;
  padding-top: 24px;
}

.bigIcon {
  width: 45px;
  height: 45px;
}

.flex {
  display: flex;
}

.headerInfo {
  background-color: $color-panel-bg-3;
  color: $color-white;
  padding-left: 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.walletType {
  opacity: 0.6;
  fotn-size: 16px;
  margin-top: -5px;
  margin-bottom: 4px;
}

.none {
  display: none;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.ownersNum {
  padding-bottom: 4px;
  padding-top: 4px;
}

.iconHolder {
  padding: 4px;
  padding-left: 0px;
  padding-right: 8px;
  i {
    font-size: 32px;
  }
}

.actions {
  position: relative;
  height: 0px;
}

.actionsItems {
  position: absolute;
  right: 64px;
}

.actionsItem {
  position: relative;
  float: right;
  transform: translateY(-50%);
}

.body {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-top: 27px;
}

.walletsCount {
  font-size: 24px;
  font-weight: 600;
  padding-right: 16px;
}

.walletsCountType {
  font-size: 16px;
  opacity: 0.6;
  color: $color-primary-0;
}

.hidden {
  visibility: hidden;
}

.mainWalletSwitcher {
  display: flex;
  flex-direction: row;
  padding-top: 36px;
  flex: 1;
  align-items: center;
}

.smallIcon {
  width: 24px;
  height: 24px;
  margin-bottom: 3px;
  cursor: pointer;
}

.switchText {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: $color-panel-bg-5;
  padding-left: 8px;
  cursor: pointer;
}
