// @import "./fonts";
@import "/normalize";
@import '../../node_modules/flexboxgrid/css/flexboxgrid.css';
@import "./variables";

// TODO @dkchv: refactor this

:global {
  #app,
  #app > div {
    height: 100%;
  }

  .m-b-15 {
    margin-bottom: 15px;
  }

  .xs-hide {
    @media only screen and (max-width: $XS_MAX) {
      display: none !important;
    }
  }

  .page-base {
    color: #212121;
    padding-top: 20px;

    @media only screen and (min-width: $SM_MIN) {
      padding: 62px;
    }
  }

  .xs-reset-table {
    @media only screen and (max-width: $XS_MAX) {
      display: block;

      tr, td {
        display: block;
        height: auto !important;
        width: 100% !important;
      }

      tr {
        padding-bottom: 10px;
        padding-top: 10px;
      }

      td {
        padding-left: 0 !important;
        padding-right: 0 !important;
        word-break: break-all !important;
        white-space: normal !important;
      }
    }
  }
}
