@import '~styles/partials/variables';
@import "~styles/partials/mixins";

.root {
  display: flex;
  overflow: hidden;
  margin: -5px;
  padding: 5px;
  transition: all 1s;
  height: 250px;

  &.isMultisig {
    height: calc(100% + 10px);
  }
}

.walletBox {
  width: 100%;
  flex-shrink: 0;
  transition: all 1s;

  &:nth-child(2) {
    margin-left: 10px;
  }

  &.isMultisig {
    // for transition
    margin-left: calc(-100% - 10px);
  }
}

.header {
  background-color: $color-panel-bg-3;
  display: flex;
  padding: 24px 16px 44px;
}

.headerIcon {
  width: 45px;
  height: 45px;
  margin-right: 16px;
}

.headerInfo {
  color: $color-white;
}

.headerTitle {
  font-size: 24px;
  font-weight: bold;
}

.headerSubtitle {
  opacity: 0.6;
  font-size: 16px;
  margin-top: -5px;
  margin-bottom: 4px;
}

.actions {
  display: flex;
  margin-top: 24px;

  @include xs-only {
    display: block;
  }
}

.action {
  flex-grow: 1;

  &:last-child {
    text-align: right;
    margin-left: 10px;

    @include xs-only {
      text-align: left;
      margin-left: 0;
      margin-top: 16px;
    }
  }
}

.owners {
  display: flex;
}

.ownersNum {
  padding-bottom: 4px;
  padding-top: 4px;
}

.iconHolder {
  padding: 4px 8px 4px 4px;
  i {
    font-size: 32px;
  }
}

.floatAction {

}

.buttonLabel {
  // hack for long multiline labels with icons
  display: flex;
  align-items: center;
}

.buttonPreloader {
  display: flex;
  margin-right: 5px;
}

.buttonCounter {
  margin-left: 5px;
  color: $color-grey;
}

.buttonIcon {
  margin-top: -5px;
  margin-right: 10px;
}

.actionsItems {
  position: absolute;
  right: 64px;
}

.actionsItem {
  position: relative;
  float: right;
  transform: translateY(-50%);
}

.body {
  padding: 27px 16px 24px;
}

.walletsCount {
  font-size: 24px;
  font-weight: 600;
  padding-right: 16px;
}

.walletsCountType {
  font-size: 16px;
  opacity: 0.6;
  color: $color-primary-0;
}

.pendingCounter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  background-color: $color-error;
  color: $color-white;
  margin-left: 10px;
  padding: 5px 9px;
  border-radius: 12px;
}