@import "~styles/partials/variables";

.root {
  margin-top: 24px;
}

.states {
  margin-top: 16px;
}

.state {
  display: flex;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.flag {
  width: 16px;
  height: 16px;
  flex-grow: 0;
  margin-right: 16px;
}

.flagDone {
  color: $color-green;
}

.flagError {
  color: $color-error;
}

.titleContent {
  flex-grow: 1;
}

.title {
}

.subtitle {
  opacity: 0.6;
}

.actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.action {
  width: 50%;
}

.account {
  background-color: rgba($color-white, 0.1);
  padding: 16px;
  margin-top: 24px;
  border-radius: $border-radius;
}

.accountValue {
  margin-top: 3px;
}

.accountLabel {
  font-size: 16px * 0.75;
  opacity: 0.6;
}