@import "~styles/partials/variables";
@import "~styles/partials/mixins";

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  > * {
    flex: 0 0 auto;
  }
}

.root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.content {
  position: relative;

  :global {
    .AssetManagerContent__body {
      @include grid(2, 32px, 32px);
    }
  }
}

.entries {
  flex: 1 1 auto;
}

.contentAlignRight {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;

  .actions {
    @include xs-only {
      display: flex;
      flex-direction: column;
      > div {
        margin: 16px 0 0;
      }
    }
  }
}

.contentStats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 200px;

  @include xs-only {
    height: auto;
  }
}

.contentStatsItem {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  position: relative;
  width: 200px;
  align-items: center;
  margin-bottom: 20px;

  .icon {
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    border-radius: 50%;
    text-align: center;

    :global(.material-icons) {
      margin: 4px;
      vertical-align: middle;
    }
  }

  &.statsAll {
    .icon {
      background-color: $badge-blue;
    }
  }

  &.statsCompleted {
    .icon {
      background-color: $badge-green;
    }
  }

  &.statsOutdated {
    .icon {
      background-color: $badge-grey;
    }
  }

  &.statsInactive {
    .icon {
      background-color: $badge-red;
    }
  }

  &.statsOngoing {
    .icon {
      background-color: $badge-orange;
    }
  }
}

.entry {
  flex: 0 0 auto;
  line-height: 22px;
}

.entry1 {
  font-size: 14px;
  font-weight: 300;
}

.entry2 {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.head {
  padding: 24px 16px;
  :global {
    .Preloader__root {
      justify-content: flex-start;
    }
  }
  @include xs-only {
    padding-bottom: 16px;
  }
  background: $color-panel-bg-3;
  color: $color-white;

  h3 {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 34px;
    font-weight: 300;
  }

  :global {
    .AssetManagerContent__head {
      @include grid(12, 24px, 24px);
    }
  }
}

.headInner {
  margin: 10px 80px 10px 80px;
  position: relative;

  @include lg-only {
    margin: 0;
  }
}

.body {
  padding: 16px 0;
  @include lg-only {
    padding: 16px 0;
  }
}

.bodyInner {
  margin: 30px 50px;
  @include md-plus {
    margin: 0;
  }
  @include lg-only {
    margin: 0;
  }
  position: relative;
}

.accessDenied {
  text-align: center;
  margin: 50px 0;
}

.accessDeniedIcon {
  font-size: 40px;
  vertical-align: middle;
  margin-right: 20px;
  color: $color-warning;
}

.action {
  vertical-align: bottom;
  margin: 16px 0 0 30px;
}

.PlatformInfoWrap {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.table {
  .tableInner {

  }

  :global {
    .AssetManagerContent__table {
      @include grid(12, 32px, 32px);
    }
  }
}

.delimiter {
  margin-top: 40px;
}
