@import '~styles/partials/mixins';
@import '~styles/partials/variables';

.root {
  max-width: 928px;
  background-color: $color-white;

  .header {
    background-color: $color-primary-1;

    h3 {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 34px;
      font-weight: 300;
      color: $color-white;
    }
  }

  .content {
    color: $color-primary-0;
    padding-top: 35px;
    padding-bottom: 35px;

    .actions {
      margin-top: 20px;
      text-align: right;
    }
  }

  .footer {
    background-color: $color-panel-bg-0;

    h3 {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 34px;
      font-weight: 300;
      color: $color-primary-0;
    }

    .chart {
      @include position(absolute);
      background-color: $color-chart-bg;

      .inner {
        position: relative;
        margin: 16px 16px;
      }
    }
  }

  .row {
    display: flex;
    position: relative;

    .col1 {
      flex: 1 1 384px;
      padding: 24px 16px;
      position: relative;
    }

    .col2 {
      flex: 1 1 544px;
      padding: 0 16px;
      position: relative;
    }
  }

  .balance {

    margin-top: 40px;
    text-shadow: $text-shadow-title;

    .label {
      height: 17px;
      font-size: 14px;
      color: $color-white;
    }

    .value {

      color: $color-white;

      .value1 {
        font-size: 24px;
        font-weight: 300;
        line-height: 31px;
        vertical-align: baseline;
      }

      .value2 {
        font-size: 16px;
        vertical-align: baseline;
        opacity: 0.5;
      }
    }
  }

  .property {

    margin-bottom: 20px;

    .label {
      height: 17px;
      font-size: 14px;
      opacity: 0.6;
    }

    .value {

      .value1 {
        font-size: 16px;
        line-height: 20px;
        vertical-align: baseline;
      }

      .value2 {
        font-size: 12px;
        vertical-align: baseline;
        opacity: 0.6;
      }
    }
  }

  .ratesTable {

    display: table;
    position: relative;
    width: 100%;
    font-size: 14px;
    margin-top: 12px;

    .tableHead {

      display: table-row-group;
      opacity: 0.6;
      font-size: 12px;

      .colAsset, .colValue, .colColor {
        display: table-cell;
        padding: 12px 12px 8px 12px;
      }
    }

    .tableBody {

      display: table-row-group;

      .colAsset, .colValue, .colColor {
        display: table-cell;
        padding: 12px;
      }
    }

    .row {
      display: table-row;
      color: $color-primary-0;

      .colAsset {
        width: 30%;
        padding-left: 0;
      }

      .colValue {
        width: 20%;
      }

      .colColor {
        width: 10%;
        text-align: right;
      }
    }

    .color {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    .value {

      .value1 {
        font-size: 14px;
        vertical-align: baseline;
      }

      .value2 {
        font-size: 10px;
        vertical-align: baseline;
        opacity: 0.6;
      }
    }
  }

  :global {
    .ByTokensDialog {
      &__icons {
        @include grid(2, 16px, 16px);
        transform: translateY(50px);

        .icon {
          border-radius: 12px;
          box-shadow: $box-shadow-0;
          @include aspect-ratio(16, 10);
          overflow: hidden;

          .content {
            .title {
              padding: 16px;
              font-size: 34px;
              font-weight: 500;
              text-transform: uppercase;
              color: $color-white;
            }
          }
        }
      }
      &__form {
        @include grid(2, 16px, 16px);
      }
    }
  }
}
