@import "~styles/partials/variables";
@import "~styles/partials/mixins";

.root {
  background-color: white;
  border-radius: 2px;
  color: $color-primary-0;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.hint {
  font-size: 18px;
  margin-top: 5px;
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 32px;
  justify-content: flex-end;

  @include md-only {
    flex-wrap: wrap;
  }
}

.grow {
  flex-grow: 1;

  @include md-only {
    width: 100%;
    padding: 10px 0;
  }
}

.action {
  flex-shrink: 0;

  @include md-only {
    width: 50%;
  }
}