@import "~styles/partials/variables";
@import "~styles/partials/mixins";

$copyRightPadding: 200px;

.wrapper {
  background-image: linear-gradient(224deg, #644ebf, #262448);
  min-height: 100%;
  position: relative;
  padding-bottom: 130px; // for footer

  @include md-only {
    padding-bottom: 230px;
  }

  &:after {
    // hack for preloading material icons and avoid FUOC on render
    content: '';
    font-family: 'Material Icons';
  }
}

.content {
  min-width: 320px;
  max-width: 470px;
  margin: 0 auto;
  padding-top: 40px;
}

.logo {
  display: block;
  text-align: center;
  font-family: $font-family-main;
  margin: 0 auto 40px;
}

.logoImg {
  width: 68px;
  height: 46px;
  background-image: url('assets/chrono-bank-logo.svg');
  margin: 0 auto 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.logoText {
  color: $color-band-1;
  letter-spacing: -0.04em;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-size: 37px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
}

.logoBank {
  color: $color-band-0;
}

.form {
  color: white;
  font-weight: 400;
  margin: 0 20px;
}

.title {
  font-size: 34px;
  margin-bottom: 10px;
  font-weight: 500;
}

.subtitle {
  font-size: 18px;
  opacity: 0.6;
  margin-bottom: 25px;
  font-weight: 300;
}

.footer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 17px 80px;

  @include md-only {
    padding: 20px;
    flex-direction: column-reverse;
  }
}

.copyright {
  max-width: $copyRightPadding;
  font-size: 12px;
  font-weight: 300;
  color: white;
}

.links {
  padding-right: $copyRightPadding; // compensation for centering
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include md-only {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.link {
  color: white;
  margin: auto 45px;
  text-decoration: none;
  font-family: $font-family-main;
  font-size: 18px;

  @include md-only {
    margin: 0 0 10px;
  }
  }

.errors {
  margin-top: 5px;
}

.error {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.errorIcon {
  max-width: 30px;
  flex-grow: 0;
  margin-right: 20px;
}

.errorText {
  flex-grow: 1;
  font-weight: 300;
  line-height: 20px;
}