@import "~styles/partials/mixins";
@import '~styles/partials/variables';

.content {
  max-width: 544px;
  background-color: $color-white;
  @include xs-only {
    max-width: 100%;
    width: 100%;
  }

  :global {
    .AddTokenForm__grid {
      @include grid(12, 32px, 32px);
    }
  }
}

.dialogHeader {
  display: flex;
  position: relative;
  align-items: baseline;
  box-sizing: border-box;
  background: $color-primary-1;
  height: 180px;
  padding: 24px 16px;
  text-align: left;
  color: #ffffff;
}

.dialogHeaderStuff {
  display: flex;
  flex-direction: row;
  height: 24px;
}

.dialogHeaderTitle {
  color: $color-white;
  min-width: 300px;
  font-size: 34px;
}

.tokenInfoRow {
  margin-top: 18px;
  display: flex;
  .tokenIcon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 32px;
  }
  .info {
    .name {
      font-weight: 600;
      color: #00005f;
    }
    .platform {
      .subTitle {
        opacity: 0.6;
        font-size: 14px;
        color: #00005f;
      }
      .number {
        color: #00005f;
        word-break: break-all;
      }
    }
  }
}

.dialogBody {
  padding: 0 16px;
}

.dialogFooter {
  padding: 24px 16px;
  text-align: right;

  @include xs-only {
    display: flex;
    > div {
      margin: 0;
      width: 100%;
    }
  }
}

.action {
  margin: 0 0 0 10px;
}

.checkboxField {
  margin-top: 30px;
}

.hide {
  display: none;
}

.upload {
  cursor: pointer;
}

.uploadContent {

}

.tokenImg {

}

.tokenImgWrap {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {

}

.progressText {
  margin-left: 10px;
}
