@import "~styles/partials/variables";

.root {
  background-color: white;
  border-radius: 2px;
  color: $color-primary-0;
  padding: 16px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.keyBox {
  background-color: $color-primary-light;
  padding: 7px 8px 11px;
}

.keyLabel {
  opacity: 0.6;
  font-size: 12px;
}

.keyValue {
  font-size: 18px;
  font-weight: 600;
  margin-top: 7px;
}

.message {
  font-size: 14px;
  margin-top: 16px;
}

.warningBox {
  margin-top: 28px;
  display: flex;
  align-items: center;
}

.warningIcon {
  flex-grow: 0;
  margin-right: 20px;
  font-size: 40px !important;
}

.warningText {
  flex-grow: 1;
  font-size: 12px;
  font-weight: 300;
}

.actions {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actionConfirm {
  margin-right: 40px;
  flex-grow: 1;
}