@import '~styles/partials/mixins';
@import '~styles/partials/variables';
@import '~material-colors-scss/function';

.root {
  max-width: 700px;
  background-color: $color-white;

  p {
    line-height: 1.4em;
  }

  .header {
    background-color: $color-primary-1;
    padding: 24px 48px 24px 16px;

    h3 {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 34px;
      font-weight: 300;
      color: $color-white;
    }
  }

  .content {
    color: $color-primary-0;
    padding: 24px 16px;
  }

  .footer {
    padding: 24px 16px;
    text-align: right;

    .action {
      margin: 0 0 0 10px;
    }
  }
}

.warning {
  background-color: #{material-color('orange', '200')};
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
  color: black;
  line-height: 1.4;
}

.warningStep {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.error {
  background-color: #{material-color('red', '200')};
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  color: black;
  text-align: center;
}

:global(.TokenValue__root) {
  font-size: 18px;
}