@import '~styles/partials/mixins';
@import '~styles/partials/variables';
@import '~material-colors-scss/function';

.root {
  max-width: 700px;
  background-color: $color-white;

  p {
    line-height: 1.4em;
  }
}

.header {
  background-color: $color-primary-1;
  padding: 24px 48px 24px 16px;
}

.headerHead {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 300;
  color: $color-white;
}

.content {
  color: $color-primary-0;
  padding: 24px 16px;
}

.footer {
  padding: 24px 16px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.action {
  margin: 0 0 0 10px;
}

.error {
  background-color: #{material-color('red', '200')};
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  color: black;
  text-align: center;
}

:global(.TokenValue__root) {
  font-size: 18px;
}

.errorMessage {
  padding: 10px 24px;
  color: $color-error;
}

.gasSliderWrap {
  margin-top: 20px;
  padding: 0 5px;
  font-size: 13px;
  opacity: 1;
  width: 50%;
  @include sm-only {
    width: 60%;
  }
  @include xs-only {
    width: 100%;
  }
  :global {
    .GasSlider__tagsWrap {
      color: $color-primary-0;
    }
  }
}
