@import '~styles/partials/_mixins';
@import '~styles/partials/_variables';

$line: 1px solid $color-grey300;
$indent: 24px;

.root {
  max-width: 928px;
  background-color: $sideMenu-background;

  @include sm-plus {
    min-width: 640px;
  }

  :global(.TokenValue__root) {
    color: $color-black;
  }

  :global(.TokenValue__integral) {
    font-weight: $font-weight-bold;
    line-height: 1;
  }

  :global(.TokenValue__fraction) {
    font-size: 1em;
    font-weight: $font-weight-bold;
    opacity: 1;
  }
}

// header

.header {
  position: relative; // for FAB
  padding: 16px $indent 16px;
  color: $color-white;
}

.headerTitle {
  font-size: 28px;
  font-weight: $font-weight-bold;
}

.headerSubtitle {
  font-size: 16px;
  color: $color-white;
}

.headerFAB {
  position: absolute;
  right: $indent;
  bottom: 0;
  transform: translateY(50%);
  z-index: 1;
}

.body {
  padding-bottom: 32px;
  color: $color-black;
  background: $color-white;
  border-radius: 2px 2px 0 0;
  overflow: hidden;
}

// block

.block {
  border-bottom: $line;

  &:last-child {
    border-bottom: none;
  }
}

.blockTitle {
  padding: 8px $indent;
  border-bottom: $line;
  line-height: 1;
  font-weight: $font-weight-bold;
}

.blockList {
  padding-bottom: 48px;
}

.noWallets {
  margin: 24px 24px 0;
  font-style: italic;
}