@import "~styles/partials/variables";

.root {
}


.form {
}

.balance {

  margin-top: 15px;
  text-shadow: $text-shadow-title;

  .label {
    height: 17px;
    font-size: 14px;
    color: $color-white;
  }

  .value {

    color: $color-white;

    .value1 {
      font-size: 24px;
      font-weight: 300;
      line-height: 31px;
      vertical-align: baseline;
    }

    .value2 {
      font-size: 16px;
      vertical-align: baseline;
      opacity: 0.5;
    }
  }
}

.actions {
  text-align: right;
  .action {
    margin-left: 40px;
  }
}
