@import "~styles/partials/mixins";
@import "~styles/partials/variables";

.root {

  .header {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 16px 0px 16px;
    background-color: $color-panel-bg-3;

    h3 {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 34px;
      font-weight: 300;
      color: $color-white;
    }

    ul {

      display: block;
      padding: 0;
      text-align: center;

      li {

        display: inline-block;
        box-sizing: border-box;
        border-bottom: solid 4px transparent;

        a {
          opacity: 0.5;
          color: $color-white;
          display: block;
          font-size: 34px;
          font-weight: 300;
          padding: 12px 64px 8px 64px;
          box-sizing: border-box;
          text-decoration: none;
        }

        &:hover {
          opacity: 1;
        }
      }

      :global {
        li.active {
          border-bottom: solid 4px $color-underline;
          a {
            opacity: 1;
          }
        }
      }
    }
  }

  .content {
    position: relative;
    display: table;
    width: 100%;
    background-color: $color-white;

    .slide {
      overflow: hidden;
      padding: 24px;

      .actions {
        text-align: right;
        margin-top: 28px;
      }
    }

    :global {
      .ExchangeWidget__grid {
        @include grid(4, 50px, 50px, center);
      }
    }
  }
}
