@import "~styles/partials/variables";
@import "~styles/partials/mixins";

.root {

  overflow: hidden;
  position: relative;
  width: 100%;

  .head {
    position: relative;
    width: 100%;
    padding: 16px;
    background: $color-primary-1;

    .inner {
      position: relative;
      width: 100%;
      height: 260px;
    }

    .layer {
      @include position(absolute, 0, 0, 0, 0);

      .entry {
        position: absolute;
        color: $color-white;
        text-shadow: $text-shadow-title;

        &.entry-date {
          top: 0;
          left: 0;
          text-align: center
        }
        &.entry-status {
          top: 0;
          right: 0;
        }
        &.entry-published {
          bottom: 120px;
          left: 0;
        }
        &.entry-finished {
          bottom: 70px;
          left: 0;
        }
        &.entry-required {
          bottom: 120px;
          right: 0;
        }
        &.entry-received {
          bottom: 70px;
          right: 0;
        }
        &.entry-variants {
          left: 25%;
          bottom: 0;
        }
        &.entry-documents {
          right: 25%;
          bottom: 0;
        }
        &.entry-voted {

        }

        >.entry-title {
          font-size: 45px;
          line-height: 45px;
        }

        >.entry-label {
          font-size: 14px;
          opacity: 0.6;
        }

        >.entry-value {
          font-size: 17px;
        }

        >.entry-badge {
          @include badge($color-white, $badge-orange);
        }
      }
    }

    @include xs-only {

      .inner {
        height: auto;
      }

      .layer {
        position: relative;
        width: 100%;

        &.layer-head {
          margin-bottom: 10px;
          height: 60px;

          .entry-date {
            text-align: left;
          }
        }

        &.layer-chart {
          margin-bottom: 10px;
        }

        &.layer.layer-entries {

          position: relative;
          width: 100%;
          height: 190px;
          margin-bottom: 10px;

          .entry {
            // @include position(relative);
            width: 100%;
            margin-bottom: 5px;
            // text-align: left;

            &.entry-published {
              left: 0;
            }

            &.entry-finished {
              left: 0;
            }

            &.entry-variants {
              left: 0;
            }

            &.entry-required {
              right: auto;
              left: 50%;
            }

            &.entry-received {
              right: auto;
              left: 50%;
            }

            &.entry-documents {
              right: auto;
              left: 50%;
            }
          }
        }
      }
    }
  }

  .body {
    position: relative;
    width: 100%;
    height: 160px;
    padding: 16px;
    color: $color-primary-0;
    display: flex;
    flex-direction: column;

    .title {
      flex: 0 0 auto;
      display: block;
      margin: 0 0 10px 0;
      padding: 0;
      font-size: 24px;
      line-height: 1.2em;
      font-weight: 600;
    }

    .description {
      flex: 1 1 100%;
      font-size: 16px;
      overflow: hidden;
    }

    @include xs-only {
      height: auto;
    }
  }

  .foot {
    padding: 16px;
    text-align: right;
    .action {
      margin-left: 36px;
      vertical-align: top;
    }

    @include xs-only {
      height: auto;
      .action {
        margin-left: 10px;
        margin-top: 5px;
      }
    }
  }
}
