@import "~styles/partials/mixins";
@import "~styles/partials/colors";

.root {

}

.form {
  .dropdown {
    margin-left: -24px;
  }
}

.balance {

  margin-top: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);

  .label {
    height: 17px;
    font-size: 14px;
    color: #FFFFFF;
  }

  .value {

    color: #FFFFFF;

    .value1 {
      font-size: 34px;
      font-weight: 300;
      line-height: 41px;
      vertical-align: baseline;
    }

    .value2 {
      font-size: 24px;
      // line-height: 41px;
      vertical-align: baseline;
      opacity: 0.5;
    }
  }
}

.table {

  display: table;
  width: 100%;

  .info {
    width: 99%;
    display: table-cell;
    vertical-align: bottom;

    .fee {
      font-size: 16px;
      font-weight: 300;
    }

    .total {
      font-size: 24px;
      font-weight: 300;
      margin-top: 15px;
      vertical-align: bottom;
    }

    .label {
      display: inline-block;
      width: 100px;
    }

    .value {

      display: inline-block;
      white-space: nowrap;

      .value1 {
        display: inline-block;
      }

      .value2 {
        display: inline-block;
        font-size: 0.7em;
        opacity: 0.6;
      }
    }

    .percentage {
      display: inline-block;
      margin-left: 20px;
      opacity: 0.6;
    }
  }

  .actions {
    width: 1%;
    display: block;
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
  }
}
