//noinspection CssUnknownTarget
@import "../../../~styles/partials/variables";
//noinspection CssUnknownTarget
@import "../../../~styles/partials/mixins";

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
  > * {
    flex: 0 0 auto;
  }
}

.title {

  padding: 24px 16px;

  h3 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 300;
    color: $color-white;
  }
}

.buttons {
  text-align: center;
  margin: 24px;
}

.content {
  min-height: 100px;
  margin: 32px;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  overflow: hidden;
  flex-wrap: wrap;

  .marker {
    flex: 0 0 auto;
    width: 193px;
    background: $color-primary-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;

    .number {
      flex: 0 0 auto;
      font-size: 112px;
      font-weight: 400;
      text-align: center;
      color: $color-white;
      text-shadow: $text-shadow-title;
    }
  }

  .main {
    flex: 1 1 auto;
    background-color: $color-white;

    .info {
      padding: 24px 24px;
      color: $color-primary-0;

      h5 {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-weight: 400;
        text-align: left;
      }

      .table {
        display: table;
        width: 100%;

        .row {
          margin: 15px 0;
        }

        .col1 {
          display: table-cell;
          vertical-align: top;
          width: 70%;
        }

        .col2 {
          display: table-cell;
          vertical-align: top;
          text-align: right;
          width: 30%;
        }

        .entry {

          margin-right: 40px;
          line-height: 18px;

          .entry1 {
            font-size: 14px;
            font-weight: 300;
          }
          .entry2 {
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.root {
  position: relative;
}

.votingWrapper {
  margin: 32px;
}

.votingInner {
  width: 288px;
  height: 449px;
  padding: 16px;
}

.layer {
  @include position(relative, 0, 0, 0, 0);
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
}

.chart {
  @include position(absolute, 0, 0, 0, 0);

  &.chart1, &.chart2 {
    width: 200px;
    height: 200px;
  }

}

.pollTitle {
  height: 87px;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: #00005f;

}

.layerEntries {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 26px;

  .entry {
    display: flex;
    width: 100%;
  }
}

.entryTotal {
  position: absolute;
  top: 50px;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  .label {
    font-size: 16px;
    color: #00005f;
    text-align: center;
  }
  .percent {
    font-size: 45px;
    color: #00005f;
    text-align: center;
  }
}

.more {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #2962ff;
  cursor: pointer;
}

