@import "~styles/partials/mixins";
@import "~styles/partials/variables";

.root {

  .head {
    padding: 24px 16px;
  }

  .body { padding: 0px 16px 24px 16px; }
  .foot { padding: 24px 16px; }
}

.profile {
  display: block;
  box-sizing: border-box;
}

.close-icon {
  position: absolute;
  right: 7px;
  top: 7px;
  opacity: 0.5;
}

.close-icon:hover {
  cursor: pointer;
  opacity: 1;
}

.close-icon-wrap {
  color: $color-white;
  font-size: 25px;
  font-family: sans-serif;
}
.close-icon-wrap:hover {
  cursor: pointer;
}

.account-info {
  display: table;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 50px;
  background-color: $color-blue405;
}

.account-info-avatar {
  display: table-cell;
  width: 20%;
  padding-left: 20px;
  vertical-align: middle;
  align-self: left;
}

.account-info-name {
  display: table-cell;
  width: 50%;
  align-self: left;
  vertical-align: middle;
}

.account-name-text {
  color: #FFFFFF;
  line-height: 22px;
  font-size: 18px;
  text-align: left;
  font-weight: 700;
}

.account-info-setting {
  display: table-cell;
  width: 15%;
  vertical-align: middle;
  align-self: center;
  opacity: 0.5;
}

.account-info-setting:hover {
  cursor: pointer;
  opacity: 1;
}

.balances-info {

}

.address-token {
  display: table-cell;
  width: 10%;
  vertical-align: top;
  align-self: left;
}

.address-token-info {
  display: table-cell;
  width: 54%;
  padding-left: 5px;
  padding-right: 20px;
  word-break: break-all;
  word-wrap: break-word;
}

.address-info-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.address-token-icon {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.address {
  display: table;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
}

.address-qr-code {
  display: table-cell;
  width: 12%;
  min-width: 12%;
  vertical-align: middle;
  align-self: center;
  opacity: 0.5;
}

.address-copy-icon {
  display: table-cell;
  width: 12%;
  min-width: 12%;
  vertical-align: middle;
  align-self: center;
  opacity: 0.5;
}

.address-pk-icon {
  display: table-cell;
  width: 12%;
  min-width: 12%;
  vertical-align: middle;
  align-self: center;
  opacity: 0.5;
}

.main-address {
  padding-top: 40px;
  display: table;
  width: 100%;
  padding-left: 20px;
}

.address-split-hr {
  display: block;
  margin-top: 40px;
  border-top: 1px solid #E5E5E5;
}

.main-address-account {
  display: table-cell;
  width: 64%;
  align-self: left;
  word-break: break-all;
  word-wrap: break-word;
  padding-right: 20px;
}

.main-address-account-name {
  font-size: 12px;
  text-align: left;
  line-height: normal !important;
  color: #7F7F7F;
  font-weight: 400;
}

.main-address-header-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: black;
}

.network-name {
  line-height: 17px;
  background-color: #68CC8E;
}

.network-name-text {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 20px;
}



.profile-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include xs-only {
    .body-avatar {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    .body-info {
      width: 100%;
    }
  }
}

.body-avatar {
  flex: 0 0 auto;
  position: relative;
  margin-right: 32px;
}

.avatar-icon {
  position: relative;
  display: table;
  background-color: $color-panel-bg-0;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 16px 0 0;
}

.avatar-icon-content {
  width: 60px;
  height: 60px;
  background: transparent none no-repeat center center;
  background-size: cover;
}

.body-info {
  flex: 1 1 auto;
}

.info-account {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.info-company {
  font-size: 14px;
  line-height: 16px;
}

.info-address {
  font-size: 14px;
  margin-top: 7px;
  color: $color-primary-1;
  width: 246px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoAddress {
  @include ellipsis;
  position: relative;
  display: block;
  float: left;
  color: $color-primary-1;
  line-height: 25px;
  width: 85px;
  font-size: 14px;
  vertical-align: baseline;
}

.info-micros {
  margin-left: -4px;
}

.info-balances {
  margin: 10px 0 0 0;
}

.balance {
  position: relative;
  display: table;
  width: 100%;
  margin: 0 0 5px 0;
}

.balance-icon {
  display: table-cell;
  vertical-align: middle;
  width: 30px;
}

.balanceIcon {
  position: relative;
  display: table;
  background-color: $color-primary-1;
  border-radius: 2px;
  overflow: hidden;
  margin: 0px 8px 0px 0px;
}

.balanceIconContent {
  width: 21px;
  height: 12px;
  margin: 2px;
  background: transparent none no-repeat center center;
  background-size: contain;
}

.balance-info {
  display: table-cell;
  vertical-align: middle;
  :global(.TokenValue__root) {
    font-size: 18px;
    line-height: 18px;
  }
}

.profile-footer {
  margin-top: 16px;
  text-align: right;
}


.badge-green {
  @include badge($color-white, $badge-green);
  border-radius: 2px;
  line-height: 20px;
  vertical-align: middle;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $badge-grey;
  margin: 0px 12px;

  &.status-offline {
    background-color: $badge-red;
  }
  &.status-syncing {
    background-color: $badge-orange;
  }
  &.status-synced {
    background-color: $badge-green;
  }
}

.profile-fee-slider {
  padding-top: 40px;
}
