@import "~styles/partials/mixins";
@import "~styles/partials/variables";

.balance {
  margin-top: 20px;
  text-shadow: $text-shadow-title;

  .label {
    height: 17px;
    font-size: 14px;
    color: $color-white;
  }

  .value {
    color: $color-white;

    :global(.TokenValue__root) {
      font-size: 34px;
    }

    .value1 {
      font-size: 34px;
      font-weight: 300;
      line-height: 41px;
      vertical-align: baseline;
    }

    .value2, .value3 {
      font-size: 24px;
      vertical-align: baseline;
      opacity: 0.5;
    }
  }
}

.table {
  display: table;
  width: 100%;

  .info {
    width: 99%;
    display: table-cell;
    vertical-align: bottom;

    .fee {
      display: none; // TODO @bshevchenko: remove this after MINT-289 Wallet gas price / limit, custom data, gas fees
      font-size: 16px;
      font-weight: 300;
    }

    .total {
      font-size: 24px;
      font-weight: 300;
      margin-top: 15px;
      vertical-align: bottom;
    }

    .label {
      display: inline-block;
      width: 100px;
    }

    .value {
      display: inline-block;
      white-space: nowrap;

      .value1 {
        display: inline-block;
      }

      .value2 {
        display: inline-block;
        font-size: 0.7em;
        opacity: 0.6;
      }
    }

    .percentage {
      display: inline-block;
      margin-left: 20px;
      opacity: 0.6;
    }
  }

  .actions {
    width: 1%;
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
  }
}

.content {
  @include position(absolute, 10px, 10px, 10px, 10px);
  @include xs-only {
    @include position(absolute, 5px, 5px, 5px, 5px);
  }
  background: transparent none no-repeat center center;
  background-size: contain;
}

.row {
  display: flex;
  justify-content: space-between;
}

.amount {
  width: 220px;
}

.feeRate {
  margin-top: 20px;
  width: 220px;
}

.send {
  flex-grow: 1;
  @include xs-only {
    display: flex;
    flex-direction: column;
    > div {
      margin-right: 0 !important;
    }
  }
}

.from {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fromIcon {
  display: inline-block;
  margin-bottom: -2px;
}

.tagsWrap {
  justify-content: space-between;
  display: flex;
  opacity: 0.6;
  font-size: 12px;
  text-transform: capitalize;
  color: $color-primary-0;
  position: relative;
}

.tagDefault {
  border: 6px solid transparent;
  border-bottom: 6px solid $color-primary-0;
  opacity: 0.6;
  position: absolute;
  left: calc(50% - 6px);
  top: -5px;
}

.timeLockWarn {
  color: $color-warning;
  font-size: 14px;
  margin-top: 8px;
  text-align: right;
}