//noinspection CssUnknownTarget
@import "~styles/partials/variables";
//noinspection CssUnknownTarget
@import "~styles/partials/mixins";

.panel {
  display: table;
  width: 100%;
}

@include sm-only {
  .panelTable {
    display: block;
  }

  .tableHead {
    display: none;
  }

  .tableBody {
    display: block;
  }

  .tableRow {
    display: block;
    border-top: 1px solid $color-hr-1;
  }

  .tableCell {
    display: block;
    border-top: none;
    padding: 16px 16px 0px 16px;

    &.tableCellSignatures {
      display: none;
    }

    &.tableCellActions {
      .actions {
        display: flex;
        flex-wrap: nowrap;
      }
    }

    &:last-child {
      padding-bottom: 16px;
    }
  }

  .cellTitle {
    display: inline-block;
  }

  .entry {
  }

  .entryInfo {
  }

  .infoProp {
    &.infoPropSignatures {
      display: block;
    }
  }
}

.panelHead {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: $color-primary-0;
  padding: 24px 16px;
}

.headTitle {
  display: block;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
}

.headActions {
  flex: 0 0 auto;
}

.panelProgress {
  display: table;
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

.panelTable {
  display: table;
  width: 100%;
}

.tableHead {
  display: table-row-group;
  opacity: 0.5;
}

.tableRow {
  display: table-row;
}

.tableCell {
  display: table-cell;
  padding: 16px 16px;
  color: $color-primary-0;
  opacity: 0.5;
}

.tableBody {
  display: table-row-group;
}

.tableRow {
  display: table-row;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid $color-hr-1;
  padding: 16px 16px;

  &.tableCellDescription {
    width: 100%;
  }
}

.tableCellActions {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -5px;
}

.tableCellActionsItem {
  flex: 0 0 auto;
  padding: 5px 5px;
}

.cellTitle {
  display: none;
  opacity: 0.6;
}

.panelMore {
  border-top: 1px solid $color-hr-1;
  padding: 24px 16px;
  text-align: center;
}

.entry {
  display: table;
  position: relative;
  width: 100%;
  table-layout: fixed;
}

.entryIcon {
  display: table-cell;
  width: 36px;
  vertical-align: top;
  color: $color-primary-1;
}

.entryInfo {
  display: table-cell;
  width: auto;
}

.infoTitle {
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 4px;
}

.infoDescription {
  font-size: 14px;
  margin-bottom: 4px;
}

.infoProp {
  display: flex;
  width: 100%;
  font-size: 14px;
  line-height: 16px;

  &.infoPropSignatures {
    display: none;
  }
}

.propName {
  flex: 0 0 auto;
  opacity: 0.5;
  margin-right: 5px;
}

.propValue {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.infoAddress {
  margin-top: 4px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
  color: $color-primary-1;
}

.infoDate {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.5;
}
