@import "~styles/partials/variables";
@import "~styles/partials/mixins";

.root {
}

.form {
}

.balance {

  margin-top: 15px;
  text-shadow: $text-shadow-title;

  .label {
    height: 17px;
    font-size: 14px;
    color: $color-white;
  }
}

.actions {
  text-align: right;

  .action {
    margin-left: 40px;

    @include md-only {
      margin-left: 20px;
      margin-bottom: 20px;
      display: inline-block;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.warning {
  color: $color-warning;
  font-size: 12px;
}