@import "~styles/partials/variables";

.root {
}

.form {
}

.balance {

  margin-top: 15px;
  text-shadow: $text-shadow-title;

  .label {
    height: 17px;
    font-size: 14px;
    color: $color-white;
  }
}

.actions {
  text-align: right;
  .action {
    margin-left: 40px;
  }
}
