@font-face {
  font-family: 'proxima_nova';
  src: url("./assets/fonts/proximanova_regular.eot");
  src: url("./assets/fonts/proximanova_regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/proximanova_regular.woff") format("woff"), url("./assets/fonts/proximanova_regular.ttf") format("truetype"), url("./assets/fonts/proximanova_regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #efefef;
}

body, html, #app, #app > div {
  height: 100%;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px;
}

$SM_MIN: 48rem;
$XS_MAX: $SM_MIN - 0.1rem;

.xs-hide {
  @media only screen and (max-width: $XS_MAX) {
    display: none !important;
  }
}

.page-base {
  color: #212121;
  padding-top: 20px;

  @media only screen and (min-width: $SM_MIN) {
    padding: 62px;
  }
}

.xs-reset-table {
  @media only screen and (max-width: $XS_MAX) {
    display: block;

    tr, td {
      display: block;
      height: auto !important;
      width: 100% !important;
    }

    tr {
      padding-bottom: 10px;
      padding-top: 10px;
    }

    td {
      padding-left: 0 !important;
      padding-right: 0 !important;
      word-break: break-all !important;
      white-space: normal !important;
    }
  }
}