@font-face {
  font-family: 'proxima_nova';
  src: url("./assets/fonts/proximanova_regular.eot");
  src: url("./assets/fonts/proximanova_regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/proximanova_regular.woff") format("woff"), url("./assets/fonts/proximanova_regular.ttf") format("truetype"), url("./assets/fonts/proximanova_regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #efefef;
}

body, html, #app, #app > div {
  height: 100%;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px;
}

.xs-hide {
  // TODO @dkchv: refactor
  @media only screen and (max-width: 48rem - 0.1rem) {
    display: none !important;
  }
}