@import "~styles/partials/variables";
@import "~styles/partials/mixins";

.root {
  @include position(absolute);
  display: flex;
  flex-direction: row;

  .drawer {
    position: relative;
    flex: 0 0 auto;
    width: 60px;
    display: none; // TODO @bshevchenko: display: flex;
    flex-direction: column;

    background-color: $color-white;
    box-shadow: $box-shadow-0;
  }

  .middle {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 100%;
    overflow: hidden;

    .top {
      position: relative;
      flex: 0 0 auto;
      background-color: $color-white;
      box-shadow: $box-shadow-0;
      z-index: 100;
    }

    .content {
      position: relative;
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }

    .bottom {
      position: relative;
      flex: 0 0 auto;
    }
  }
}
