@import '~styles/partials/mixins';
@import '~styles/partials/variables';


.root {

  .content {

    width: 362px;
    background-color: $color-white;

    .header {
      height: 144px;
      background: $color-panel-bg-5;
    }

    .body {
      padding: 16px;
    }

    .footer {
      padding: 0px 16px 24px 16px;
      text-align: right;

      .action {
        margin: 0px 0px 0px 10px;
      }
    }
  }

  :global(.ModalDialog__close) {
    color: $color-white;
  }
}
