//noinspection CssUnknownTarget
@import '~styles/partials/mixins';
//noinspection CssUnknownTarget
@import '~styles/partials/variables';


.root {
  background: $color-white;
  width: 500px;

  :global(.ModalDialog__close) {
    color: $color-white;
  }
}

.header {
  background: $color-panel-bg-3;
  height: 180px;
  padding: 24px 16px;
}

.title {
  font-size: 34px;
  font-weight: 300;
  color: $color-white;
}

.content {
  padding: 24px 16px 0px 16px;
}

.footer {
  padding: 24px 16px;
  text-align: right;
}

.action {
  margin: 0px 0px 0px 10px;
}
