@import '~styles/partials/mixins';
@import '~styles/partials/variables';

.root {

  .content {
    max-width: 928px;
    background-color: $color-white;

    .header {
      background-color: $color-primary-1;
      padding: 4px 4px;
      display: flex;
      box-sizing: border-box;
      flex-wrap: wrap;
      height: 290px;

      .column {
        position: relative;
        flex: 1 1 auto;
        width: 33%;
        padding: 4px 8px;

        &.column-1 {
          width: 30%;
        }
        &.column-2 {
          width: 30%;
        }
        &.column-3 {
          width: 40%;
        }
      }

      .inner {
        @include position(absolute, 16px, 16px, 16px, 16px);
      }

      .legend {
        @include position(absolute, 50px, 0, 0, 0);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .legend-item {
          flex: 0 0 auto;
          width: 150px;
          position: relative;
          font-size: 12px;
          line-height: 15px;
          color: $color-white;
          margin: 4px 16px;

          .item-point {
            display: inline-block;
            vertical-align: top;
            border-radius: 50%;
            width: 15px;
            height: 15px;
          }
          .item-title {
            margin-left: 8px;
            display: inline-block;
            vertical-align: top;
          }
        }
      }

      .layer {
        @include position(absolute, 0, 0, 0, 0);

        &.layer-chart {
          .chart {
            @include position(absolute, 50%, auto, auto, 50%);
            transform: translate(-50%, -50%);

            &.chart-1 {
              width: 222px;
              height: 222px;
            }

            &.chart-2 {
              width: 180px;
              height: 180px;
            }
          }
        }

        &.layer-entries {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: flex-end;
        }

        .entry {
          position: relative;
          flex: 0 0 auto;
          color: $color-white;
          text-shadow: $text-shadow-title;
          width: 50%;
          margin: 10px 0px;

          &.entry-status {
            position: absolute;
            top: 5px;
            right: -100px;
          }
          &.entry-total {
            left: 50%;
            top: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            width: 120px;
          }

          >.entry-title {
            font-size: 45px;
            line-height: 45px;
          }

          >.entry-label {
            font-size: 14px;
            opacity: 0.6;
            line-height: 1.2em;
          }

          >.entry-value {
            font-size: 17px;
          }

          >.entry-badge {
            &.badge-green {
              @include badge($color-white, $badge-green);
            }
            &.badge-orange {
              @include badge($color-white, $badge-orange);
            }
            &.badge-blue {
              @include badge($color-white, $badge-blue);
            }
          }
        }
      }

      @include md-only {
        height: auto;

        .inner {
          @include position(relative, auto, auto, auto, auto);
          text-align: center;
        }

        .column {
          width: 100%   !important;
        }

        .layer {
          position: relative;
          width: 100%;
          display: inline-block;

          .entry {
            &.entry-status {
              right: 0px;
              width: auto;
            }
          }

          &.layer-head {
            margin-bottom: 10px;
            height: 60px;
          }

          &.layer-chart {
            margin-bottom: 10px;
            height: 220px;
            margin-bottom: 10px;
          }

          &.layer-entries {
            height: 200px;
            width: 100%;
            margin: 0px auto;
            text-align: left;

            .entry {
              width: 50%;
            }
          }

          &.layer-legend {
            width: 150px;
            height: auto;
            margin: 0px auto;

            .legend {
              @include position(relative, auto, auto, auto, auto);
              margin-bottom: 12px;
              text-align: left;
              .legend-item {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .body {
      color: $color-primary-0;
      display: flex;
      padding: 8px 8px;

      @include md-only {
        display: block;
      }

      .column {
        position: relative;
        flex: 1 1 auto;
        width: 50%;
        padding: 4px 8px;

        @include md-only {
          width: 100%;
        }

        .title {
          position: relative;
          float: left;
          width: 100%;
          display: block;
          margin: 12px 0px;
          padding: 0;
          font-size: 24px;
          line-height: 1.2em;
          font-weight: bold;
          color: $color-primary-0;
        }

        .description {
          position: relative;
          float: left;
          width: 100%;
          margin: 12px 0px;
          color: $color-primary-0;
          font-size: 16px;
          line-height: 1.2em;
        }

        .documents {
          margin: 4px 0px;
        }

        .options {
          position: relative;
          width: 100%;
          max-height: 380px;
          overflow-y: auto;
          margin: 12px 0px;

          .options-table {
            width: 100%;
            position: relative;
            display: table;
            table-layout: fixed;

            .table-item {
              display: table-row;
              cursor: pointer;

              &:hover {
                background: $color-primary-light-1;
              }

              &.active {
                background: $color-primary-light;
              }

              .item-left {
                display: table-cell;
                width: 48px;
                text-align: center;
                vertical-align: middle;

                .symbol {
                  border-radius: 50%;
                  width: 32px;
                  height: 32px;
                  line-height: 32px;
                  box-sizing: border-box;
                  font-size: 14px;
                  display: inline-block;
                  font-weight: bold;

                  &.symbol-fill {
                    color: $color-white;
                    background: $color-primary-1;
                  }

                  &.symbol-stroke {
                    color: $color-primary-1;
                    border: 2px solid $color-primary-1;
                    line-height: 28px;
                  }

                  :global(.material-icons) {
                    margin: 4px;
                  }
                }
              }

              .item-main {
                display: table-cell;
                width: 100%;
                padding: 14px 8px;
                color: $color-primary-0;
                vertical-align: middle;

                .main-title {
                  font-size: 14px;
                  font-weight: bold;
                  line-height: 1.2em;
                }
                .main-option {
                  font-size: 16px;
                  line-height: 1.2em;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }

    .footer {
      padding: 24px 16px;
      text-align: right;

      .action {
        margin: 0px 0px 0px 10px;
      }
    }
  }

  :global(.ModalDialog__close) {
    color: $color-white;
  }
}
