//noinspection CssUnknownTarget
@import '~styles/partials/mixins';
//noinspection CssUnknownTarget
@import '~styles/partials/variables';

.root {
  :global(.ModalDialog__close) {
    color: $color-white;
  }
}

.content {
  max-width: 928px;
  background-color: $color-white;
}

.header {
  background-color: $color-primary-1;
  padding: 4px 4px;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 290px;

  @include md-only {
    height: auto;

    .inner {
      @include position(relative, auto, auto, auto, auto);
      text-align: center;
    }

    .column {
      width: 100%   !important;
    }

    .layer {
      position: relative;
      width: 100%;
      display: inline-block;

      .entry {
        &.entryStatus {
          right: 0px;
          width: auto;
        }
      }

      &.layerHead {
        margin-bottom: 10px;
        height: 60px;
      }

      &.layerChart {
        margin-bottom: 10px;
        height: 220px;
      }

      &.layerEntries {
        height: 200px;
        width: 100%;
        margin: 0px auto;
        text-align: left;

        .entry {
          width: 50%;
        }
      }

      &.layerLegend {
        width: 150px;
        height: auto;
        margin: 0px auto;

        .legend {
          @include position(relative, auto, auto, auto, auto);
          margin-bottom: 12px;
          text-align: left;
          .legend-item {
            width: 100%;
          }
        }
      }
    }
  }
}

.column {
  position: relative;
  flex: 1 1 auto;
  width: 33%;
  padding: 4px 8px;

  &.column1 {
    width: 30%;
  }

  &.column2 {
    width: 30%;
  }

  &.column3 {
    width: 40%;
  }
}

.inner {
  @include position(absolute, 16px, 16px, 16px, 16px);
}

.legend {
  @include position(absolute, 50px, 0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.legendItem {
  flex: 0 0 auto;
  width: 150px;
  position: relative;
  font-size: 12px;
  line-height: 15px;
  color: $color-white;
  margin: 4px 16px;
}

.itemPoint {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.itemTitle {
  margin-left: 8px;
  display: inline-block;
  vertical-align: top;
}

.layer {
  @include position(absolute, 0, 0, 0, 0);

  &.layerChart {
    .chart {
      @include position(absolute, 50%, auto, auto, 50%);
      transform: translate(-50%, -50%);

      &.chart1 {
        width: 222px;
        height: 222px;
      }

      &.chart2 {
        width: 180px;
        height: 180px;
      }
    }
  }

  &.layerEntries {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .entry {
    position: relative;
    flex: 0 0 auto;
    color: $color-white;
    text-shadow: $text-shadow-title;
    width: 50%;
    margin: 10px 0px;

    &.entryStatus {
      position: absolute;
      top: 5px;
      right: -100px;
    }

    &.entryTotal {
      left: 50%;
      top: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      width: 120px;
    }

    >.entryTitle {
      font-size: 45px;
      line-height: 45px;
    }

    >.entryLabel {
      font-size: 14px;
      opacity: 0.6;
      line-height: 1.2em;
    }

    >.entryValue {
      font-size: 17px;
    }

    >.entryBadge {
      &.badgeGreen {
        @include badge($color-white, $badge-green);
      }

      &.badgeOrange {
        @include badge($color-white, $badge-orange);
      }

      &.badgeBlue {
        @include badge($color-white, $badge-blue);
      }
    }
  }
}

.body {
  color: $color-primary-0;
  display: flex;
  padding: 8px 8px;

  @include md-only {
    display: block;
  }
}

.column {
  position: relative;
  flex: 1 1 auto;
  width: 50%;
  padding: 4px 8px;

  @include md-only {
    width: 100%;
  }
}

.title {
  position: relative;
  float: left;
  width: 100%;
  display: block;
  margin: 12px 0px;
  padding: 0;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: bold;
  color: $color-primary-0;
}

.description {
  position: relative;
  float: left;
  width: 100%;
  margin: 12px 0px;
  color: $color-primary-0;
  font-size: 16px;
  line-height: 1.2em;
}

.clearfix {
  position: relative;
  display: table;
  width: 100%;
}

.documents {
  margin: 4px 0px;
}

.options {
  position: relative;
  width: 100%;
  max-height: 380px;
  overflow-y: auto;
  margin: 12px 0px;
}

.optionsTable {
  width: 100%;
  position: relative;
  display: table;
  table-layout: fixed;
}

.tableItem {
  display: table-row;
  cursor: pointer;

  &:hover {
    background: $color-primary-light-1;
  }

  &.active {
    background: $color-primary-light;
  }
}

.itemLeft {
  display: table-cell;
  width: 48px;
  text-align: center;
  vertical-align: middle;
}

.symbol {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;

  &.symbolFill {
    color: $color-white;
    background: $color-primary-1;
  }

  &.symbolStroke {
    color: $color-primary-1;
    border: 2px solid $color-primary-1;
    line-height: 28px;
  }

  :global(.material-icons) {
    margin: 4px;
  }
}

.itemMain {
  display: table-cell;
  width: 100%;
  padding: 14px 8px;
  color: $color-primary-0;
  vertical-align: middle;
}

.mainTitle {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
}

.mainOption {
  font-size: 16px;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  padding: 24px 16px;
  text-align: right;
}

.action {
  margin: 0px 0px 0px 10px;
}