@import '~styles/partials/mixins';
@import '~styles/partials/variables';

.root {

  .content {
    max-width: 928px;
    background-color: $color-white;

    .header {
      background-color: $color-primary-1;
      padding: 24px 16px;
      display: flex;
      box-sizing: border-box;
      height: 176px;

      @include xs-only {
        height: auto;
      }

      h3 {
        flex: 1 1 auto;
        display: block;
        margin: 0;
        padding: 0;
        font-size: 34px;
        font-weight: 300;
        color: $color-white;
      }
    }

    .body {
      color: $color-primary-0;
      display: flex;
      padding: 0px 12px;

      @include md-only {
        display: block;
      }

      .column {
        flex: 1 1 auto;
        width: 50%;
        padding: 0 8px;

        @include md-only {
          width: 100%;
        }
      }

      .actions {
        text-align: right;

        .action {
          vertical-align: top;
        }
      }
    }

    .footer {
      padding: 24px 16px;
      text-align: right;

      .action {
        margin: 0px 0px 0px 10px;
      }
    }
  }

  :global(.ModalDialog__close) {
    color: $color-white;
  }
}

.options {
  .options-actions {
    text-align: right;

    .action {
      vertical-align: top;
    }
  }

  .options-list {
    position: relative;
    width: 100%;
    max-height: 252px;
    overflow-y: auto;
    margin-top: 10px;

    .list-table {
      width: 100%;
      position: relative;
      display: table;
      table-layout: fixed;

      .table-item {
        display: table-row;
        cursor: pointer;

        &:hover {
          background: $color-primary-light-1;
        }

        &.active {
          background: $color-primary-light;
        }

        .item-left {
          display: table-cell;
          width: 48px;
          text-align: center;
          vertical-align: middle;

          .symbol {
            border-radius: 50%;
            width: 32px;
            height: 32px;
            line-height: 32px;
            box-sizing: border-box;
            font-size: 14px;
            display: inline-block;
            font-weight: bold;

            &.symbol-fill {
              color: $color-white;
              background: $color-primary-1;
            }

            &.symbol-stroke {
              color: $color-primary-1;
              border: 2px solid $color-primary-1;
              line-height: 28px;
            }
          }
        }

        .item-main {
          display: table-cell;
          width: 100%;
          padding: 14px 8px;
          color: $color-primary-0;
          vertical-align: middle;

          .main-title {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.2em;
          }
          .main-option {
            font-size: 16px;
            line-height: 1.2em;
            @include ellipsis;
          }
        }

        .item-right {
          display: table-cell;
          width: 100px;
          white-space: nowrap;
          text-align: right;
          vertical-align: middle;
        }
      }
    }
  }
}
