@import '~styles/partials/mixins';
@import '~styles/partials/variables';

.root {

  .content {
    max-width: 928px;
    background-color: $color-white;

    .header {
      background-color: $color-primary-1;
      padding: 4px 4px;
      display: flex;
      box-sizing: border-box;
      flex-wrap: wrap;

      .column {
        position: relative;
        flex: 1 1 auto;
        width: 50%;
        padding: 4px 8px;
      }

      .inner {
        position: relative;
        width: 100%;
        height: 253px;
      }

      .layer {
        @include position(absolute, 0, 0, 0, 0);

        &.layer-chart {
        }

        .entry {
          position: absolute;
          color: $color-white;
          text-shadow: $text-shadow-title;

          &.entry-date {
            top: 0;
            left: 0;
            text-align: center
          }
          &.entry-status {
            top: 0;
            right: 0;
          }
          &.entry-published {
            bottom: 80px;
            left: 0;
          }
          &.entry-finished {
            bottom: 20px;
            left: 0;
          }
          &.entry-required {
            bottom: 80px;
            left: 33%;
          }
          &.entry-received {
            bottom: 20px;
            left: 33%;
          }
          &.entry-variants {
            bottom: 80px;
            left: 66%;
          }
          &.entry-documents {
            bottom: 20px;
            left: 66%;
          }
          &.entry-total {
            left: 50%;
            top: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            width: 120px;
          }

          >.entry-title {
            font-size: 45px;
            line-height: 45px;
          }

          >.entry-label {
            font-size: 14px;
            opacity: 0.6;
            line-height: 1.2em;
          }

          >.entry-value {
            font-size: 17px;
          }

          >.entry-badge {
            @include badge($color-white, $badge-orange);
          }
        }
      }

      @include md-only {
        .inner {
          height: auto;
        }
        .column {
          width: 100%;
        }

        .layer {
          position: relative;
          width: 100%;

          &.layer-head {
            margin-bottom: 10px;
            height: 60px;

            .entry-date {
              text-align: left;
            }
          }

          &.layer-chart {
            margin-bottom: 10px;
            height: 200px;
          }

          &.layer-entries {
            height: 150px;
          }
          .entry.entry-status {
            top: 5px;
            right: 40px;
          }
        }
      }

      @include xs-only {

        .layer {

          &.layer-entries {
            height: 170px;

            .entry {
              // @include position(relative);
              width: 100%;
              margin-bottom: 5px;
              // text-align: left;

              &.entry-published {
                bottom: 130px;
                left: 0;
              }

              &.entry-finished {
                bottom: 70px;
                left: 0;
              }

              &.entry-variants {
                bottom: 10px;
                left: 0;
              }

              &.entry-required {
                bottom: 130px;
                left: 50%;
              }

              &.entry-received {
                bottom: 70px;
                left: 50%;
              }

              &.entry-documents {
                bottom: 10px;
                left: 50%;
              }
            }
          }
        }
      }
    }

    .body {
      color: $color-primary-0;
      display: flex;
      padding: 8px 8px;

      @include md-only {
        display: block;
      }

      .column {
        position: relative;
        flex: 1 1 auto;
        width: 50%;
        padding: 4px 8px;

        @include md-only {
          width: 100%;
        }

        .title {
          position: relative;
          float: left;
          width: 100%;
          display: block;
          margin: 12px 0px;
          padding: 0;
          font-size: 24px;
          line-height: 1.2em;
          font-weight: bold;
          color: $color-primary-0;
        }

        .description {
          position: relative;
          float: left;
          width: 100%;
          margin: 12px 0px;
          color: $color-primary-0;
          font-size: 16px;
          line-height: 1.2em;
        }

        .documents {
          position: relative;
          float: left;
          width: 100%;
          margin: 4px 0px;
          color: $color-primary-0;

          .documents-list {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .list-item {
              flex: 0 0 50%;
              margin: 8px 0px;
              .item-title {
                font-size: 14px;
                line-height: 24px;
                display: inline-block;
                margin-left: 16px;
                vertical-align: top;
                color: $color-primary-0;
              }
            }
          }
        }

        .options {
          position: relative;
          width: 100%;
          max-height: 380px;
          overflow-y: auto;
          margin: 12px 0px;

          .options-table {
            width: 100%;
            position: relative;
            display: table;
            table-layout: fixed;

            .table-item {
              display: table-row;
              cursor: pointer;

              &:hover {
                background: $color-primary-light-1;
              }

              &.active {
                background: $color-primary-light;
              }

              .item-left {
                display: table-cell;
                width: 48px;
                text-align: center;
                vertical-align: middle;

                .symbol {
                  border-radius: 50%;
                  width: 32px;
                  height: 32px;
                  line-height: 32px;
                  box-sizing: border-box;
                  font-size: 14px;
                  display: inline-block;
                  font-weight: bold;

                  &.symbol-fill {
                    color: $color-white;
                    background: $color-primary-1;
                  }

                  &.symbol-stroke {
                    color: $color-primary-1;
                    border: 2px solid $color-primary-1;
                    line-height: 28px;
                  }

                  :global(.material-icons) {
                    margin: 4px;
                  }
                }
              }

              .item-main {
                display: table-cell;
                width: 100%;
                padding: 14px 8px;
                color: $color-primary-0;
                vertical-align: middle;

                .main-title {
                  font-size: 14px;
                  font-weight: bold;
                  line-height: 1.2em;
                }
                .main-option {
                  font-size: 16px;
                  line-height: 1.2em;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }

    .footer {
      padding: 24px 16px;
      text-align: right;

      .action {
        margin: 0px 0px 0px 10px;
      }
    }
  }

  :global(.ModalDialog__close) {
    color: $color-white;
  }
}
