@import "~styles/partials/variables";
@import "~styles/partials/mixins";

.panel {

  display: table;
  width: 100%;

  .panel-head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    color: $color-primary-0;
    padding: 24px 16px;

    .head-title {
      display: block;
      flex: 1 1 auto;
      margin: 0;
      padding: 0;
      font-size: 24px;
      line-height: 28px;
      font-weight: normal;
    }

    .head-actions {
      flex: 0 0 auto;
    }
  }

  .panel-progress {
    display: table;
    width: 100%;
    text-align: center;
    margin: 20px 0px;
  }

  .panel-table {
    display: table;
    width: 100%;

    .table-head {
      display: table-row-group;
      opacity: 0.5;

      .table-row {
        display: table-row;
      }

      .table-cell {
        display: table-cell;
        padding: 16px 16px;
        color: $color-primary-0;
        opacity: 0.5;
      }
    }

    .table-body {
      display: table-row-group;

      .table-row {
        display: table-row;
      }

      .table-cell {
        display: table-cell;
        vertical-align: middle;
        border-top: 1px solid $color-hr-1;
        padding: 16px 16px;

        .cell-title {
          display: none;
          vertical-align: baseline;
          opacity: 0.6;
        }

        .cell-name {
          display: inline-flex;
          vertical-align: middle;
          position: relative;
          flex-wrap: nowrap;
          align-items: center;

          .name-icon {
            position: relative;
            display: 0 0 auto;
            background: $color-panel-bg-0;
            width: 36px;
            height: 36px;
            margin-right: 12px;
            border-radius: 50%;
            overflow: hidden;

            .icon-content {
              @include position(absolute, 0, 0, 0, 0);
              background: transparent none no-repeat center center;
              border-radius: 50%;
              background-size: cover;
            }
          }

          .name-title {
            flex: 1 1 auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &.table-cell-name {
        }
        &.table-cell-address {
          width: 100%;
        }
        &.table-cell-actions {
          .actions {
            display: flex;
            flex-wrap: wrap;
            margin: 0px -5px;

            .actions-item {
              flex: 0 0 auto;
              padding: 5px 5px;
            }
          }
        }
      }
    }
  }

  .ellipsis {
    display: table;
    table-layout: fixed;
    width: 100%;

    .ellipsis-inner {
      display: table-cell;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @include sm-only {
    .panel-table {
      display: block;

      .table-head {
        display: none;
      }

      .table-body {
        display: block;

        .table-row {
          display: block;
          border-top: 1px solid $color-hr-1;

          .table-cell {
            display: block;
            border-top: none;
            padding: 16px 16px 0px 16px;

            .cell-title {
              display: inline-block;
            }

            &.table-cell-actions {
              .actions {
                display: flex;
                flex-wrap: nowrap;
              }
            }
            &:last-child {
              padding-bottom: 16px;
            }
          }
        }
      }
    }
  }
}
