@import "~styles/partials/variables";
@import '../LoginPageShared';

$gutter: 16px;

// TODO @dkchv: will be moved to mui lib
%mui-button-secondary {
  border-radius: $border-radius;
  background-color: $color-white;
}

%mui-button-secondary-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  color: $color-secondary;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.root {
  margin-top: 24px;
}

.buttonIcon {
  @extend %buttonIcon;
  font-size: 16px;
  color: $color-primary-1;
}

.hide {
  display: none;
}

.back {
  margin-bottom: 16px;
}

.upload {
  @extend %mui-button-secondary;
  cursor: pointer;
}

.uploadContent {
  @extend %mui-button-secondary-content;

  &:hover {
    background-color: rgba($color-secondary, 0.4);
  }
}

.progress {
  @extend %mui-button-secondary;
  @extend %mui-button-secondary-content;
}

.progressText {
  margin-left: 10px;
}

.uploaded {
  @extend %mui-button-secondary;
  @extend %mui-button-secondary-content;
  align-items: center;
}

.walletIcon {
  flex-grow: 0;
  margin-right: 5px;
}

.walletName {
  flex-grow: 1;
}

.walletRemove {
  flex-grow: 0;
  margin-left: 10px;
  cursor: pointer;
}

.tip {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-weight: 300;
}

.actions {
  display: flex;
  margin: 24px (-$gutter / 2) 0;
}

.action {
  margin: 0 ($gutter / 2);
  width: 50%;
}
